<!DOCTYPE html>
<html>
<!--    <script>-->
<!--        MathJax = {-->
<!--            tex: {-->
<!--                inlineMath: [['$', '$']],-->
<!--                displayMath: [['$$', '$$']],-->
<!--                processEnvironments: true,-->
<!--                processRefs: true-->
<!--            },-->
<!--            options: {-->
<!--                skipHtmlTags: ['noscript', 'style', 'textarea', 'pre', 'code'],-->
<!--                ignoreHtmlClass: 'tex2jax_ignore',-->
<!--                renderActions: {-->
<!--                    find_script_mathtex: [10, function (doc) {-->
<!--                        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {-->
<!--                            const display = !!node.type.match(/; *mode=display/);-->
<!--                            const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);-->
<!--                            const text = document.createTextNode('');-->
<!--                            node.parentNode.replaceChild(text, node);-->
<!--                            math.start = { node: text, delim: '', n: 0 };-->
<!--                            math.end = { node: text, delim: '', n: 0 };-->
<!--                            doc.math.push(math);-->
<!--                        }-->
<!--                    }, '']-->
<!--                }-->
<!--            },-->
<!--            svg: {-->
<!--                fontCache: 'global'-->
<!--            }-->
<!--        };-->
<!--    </script>-->
<!--    <script id="MathJax-script" async src="https://cdn.staticfile.org/mathjax/3.0.1/es5/tex-svg.js"></script>-->

    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
            // src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']],
                displayMath: [['$$', '$$']],
                processEscapes: true,
                processEnvironments: true,
                processRefs: true
            }
        };
    </script>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    <!-- 栏目添加: 添加新栏目需要在这里加模板  这里需要将html删除 注释掉还是会显示 -->
    {% include home.html %}
    {% include spring.html %}
    {% include springboot.html %}
    {% include algorithm.html %}
    {% include mysql.html %}
    {% include redis.html %}
    {% include ddd.html %}
    {% include linux.html %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>